<div class="hero-container">
  <div class="hero-image" data-aos="fade-left">
    <img src="assets/hero-photo.jpg" alt="صورة المرشح رزق مصطفى">
  </div>
  
  <div class="hero-content">
    <h1 data-aos="fade-right">المرشح / رزق مصطفى</h1>
    <p data-aos="fade-right" data-aos-delay="200">بدعمكم نستطيع</p>
    <p class="symbol" data-aos="fade-right" data-aos-delay="400">الرمز الانتخابي: 📐 - رقم: 19</p>
    
    <a href="#about" class="hero-button" data-aos="fade-up" data-aos-delay="600">اعرف المزيد</a>
  </div>
</div>
