:host {
  /* هذا يضمن أن اللون الكحلي هو لون الخلفية الاحتياطي */
  background-color: #0a192f;
}

/* * هذا الكود هو اللي بيخلي الخلفية المتحركة تظهر
 * وتكون ثابتة ورا كل الأقسام
*/
::ng-deep ng-particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // <-- أهم سطر (بيخليه ورا)
}